
.black_color {

    form {

        .user-box {

            .black_color_input {

                color: #000000;
                border-bottom: 1px solid #000000;

                &:focus ~ label,
                &:valid ~ label {
    
                    color: $orange_color;
                }
            }

            .black_color_label {

                color: #000000;
            }
        }
    }
}
.contact {

    h3 {

        font-family: $main-font;
        font-size: 5em;
        font-weight: 700;
    }

    .contact_text {

        font-family: $main-font;
        font-size: 1.2em;
    }

    form {

        .user-box {
            width: 50%;
            position: relative;

            @media (max-width: 1024px) {

                width: 70%;
            }

            @media (max-width: 640px) {

                width: 90%;
            }
            
            input, textarea {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;

                @media (max-width: 640px) {

                    color: #000000;
                    border-bottom: 1px solid #000000;
                }


                &:focus ~ label,
                &:valid ~ label {
                top: -35px;
                left: 0;
                color: #03e9f4;
                font-size: 18px;

                    @media (max-width: 640px) {

                        color: $orange_color
                    }
                
                }

              }
              label {
                position: absolute;
                top:0;
                left: 0;
                padding: 10px 0;
                font-size: 20px;
                color: #fff;
                pointer-events: none;
                transition: .5s;

                @media (max-width: 640px) {

                    color: #000000;
                }
              }
              
          }

        textarea {

            height: 20vh;
        }

        @include button
    }

    .black_back {

        background-color: #151d38;
    }
    .white_back {

        background-color: #dddfe7;

    }

    .infos_contact {

        border-radius: 20px;
        transition: background-color 0.7s ease-in-out;
        
        h4 {

            font-family: $main-font;
            font-size: 2em;
            font-weight: 500;
            transition: color 0.7s ease-in-out;
        }

        p {

            font-family: $main-font;
            font-size: 1em;
            font-weight: 300;
            transition: color 0.7s ease-in-out;
        }
    }
}