.contact {

    h3 {

        font-family: $main-font;
        font-size: 5em;
        font-weight: 700;
    }

    p {

        font-family: $main-font;
        font-size: 1.2em;
    }

    form {

        input, select, textarea {

            width: 50%;
            background: rgba(255, 255, 255, 0.5); /* Fond transparent */
            backdrop-filter: blur(5px); /* Flou de 5 pixels */
            border-bottom: solid grey 1px;
            border-top: solid transparent 1px;
            transition: border-top 0.5s ease-in-out;
            border-radius: 10px;

            &:focus {

                outline: none;
                border-top: solid grey 1px;
            }
        }

        textarea {

            height: 20vh;
        }

        @include button
    }

    .infos_contact {

        background-color: rgb(241, 241, 241);
        border-radius: 20px;
        
        h4 {

            font-family: $main-font;
            font-size: 2em;
            font-weight: 500;
        }

        p {

            font-family: $main-font;
            font-size: 1em;
            font-weight: 300;
        }
    }
}