footer {

    h1 {

        font-size: 4em;
        font-family: $main-font;
        font-weight: 600;
        line-height: 95%;
    }

    h4 {

        font-size: 1.2em;
        font-family: $main-font;
        font-weight: 600;
    }
    
    p {

        cursor: pointer;
        font-size: 0.9em;
        font-family: $main-font;
        font-weight: 300;
    }

}