@import "variables.scss";
@import "navbar.scss";
@import "prestation.scss";
@import "header.scss";
@import "portfolio.scss";
@import "contact.scss";
@import "footer.scss";
@import "about.scss";


.main_section {

    transition: all 0.7s ease-in-out;
    z-index: -5;
}

.white {

    background-color: white;
}

.green {

    background-color: #0E1428
}
