div {
    h2 {
        font-family: $main-font;
        font-size: 3em ;
        font-weight: 600;
    }
    h3 {
        font-family: $main-font;
        font-size: 2em ;
        font-weight: 600;
    }
    img{
        width: 20em;
        height: auto;
    }
}

