
.white_color {

    color: white;

    @media (max-width: 640px) {

        color: black;
    }
}

.black_color {

    color: black;
}

.presta {

    overflow: hidden;

    h2 {
        font-family: $main-font;
        font-size: 4em ;
        font-weight: 600;
        transition: all 0.7s ease-in-out;

        @media (max-width: 640px) {

            font-size: 3em ;
        }
    }
    
    div {
        
        .left {
            transition: all 1s;
            transform: translateX(-100%);
            opacity: 0;
        }
        .bot {
            transition: all 1s;
            transform: translateY(100%);
            opacity: 0;
        }
        .right {
            transition: all 1s;
            transform: translateX(100%);
            opacity: 0;
        }

        .appear{
            transform: translateX(0%);
            opacity: 1;
        }

        h3 {
            font-family: $main-font;
            font-size: 2em ;
            font-weight: 600;

            @media (max-width: 640px) {

                font-size: 1.6em ;
            }
        }

        p {
            font-family: $main-font;
            font-size: 1.3em ;
            font-weight: 300; 
        }
        img{
            width: 350px;
            height: 280px;
            object-fit: cover;
            border-radius: 10px;

            @media (max-width: 1300px) {

                height: 200px;
            }

            @media (max-width: 1024px) {

                max-width: 18em;
                height: 18vw;
            }

            @media (max-width: 640px) {

                max-width: 17em;
                height: 35vw;
            }
        }
    }

}
