/* Error: expected "{".
 *    ,
 * 81 | >>>>>>> 621408c976ce2a47d0001c60b4194df4d8121eb4
 *    |                                                 ^
 *    '
 *   src/style/sass/prestation.scss 81:49  @import
 *   src/style/sass/main.scss 3:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 81 \2502  >>>>>>> 621408c976ce2a47d0001c60b4194df4d8121eb4\a    \2502                                                  ^\a    \2575 \a   src/style/sass/prestation.scss 81:49  @import\a   src/style/sass/main.scss 3:9          root stylesheet';
}
